//
// === CARD ===
//

//
// - Card Block -
//

.card {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
    background: #fff;
    box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
    }

    //
    // - Card Elements -
    //

    .card__header {}

    .card__image {
        max-width: 100%;
    }

    .card__body {
        padding: 20px;        
    }

    .card__title {
        font-size: 15px;
        font-weight: 700;
        line-height: 1.2;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    .card__subtitle {
        font-size: 13px;
        margin-top: 5px;
        padding: 0;
    }

    .card__intro {
        margin-bottom: 0;
    }

    .card__footer {
        padding: 20px;
        border-top: 1px solid #ddd;
    }

    //
    // - Card Modifiers -
    //

    &.card--wide {
        max-width: 740px;

        //
        // - Overwrite Card Elements -
        //

        .card__header {
            float: left;
        }

        .card__body {
            float: left;
            padding-top: 30px;
        }

        .card__footer {
            clear: both;
            text-align: center;
        }      

    }

    //
    // - Card Header Modifiers -
    //

    .card__header--first {}

    .card__header--last {}

}